html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: radial-gradient(circle, rgba(255,223,0,1) 0%, rgba(0,0,0,1) 100%);
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#resultMessage {
    margin-top: 20px;
    font-size: 18px;
}
